body {
  margin: 0;
  padding: 0;
  background-color: rgb(209, 201, 201);
}

.NavBar {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: rgb(219, 191, 191);
  padding: 15px;
  font-size: 25px;
  line-height: 1.6;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
.MainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: rgb(180, 60, 60);
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: auto;
  border-radius: 50px;
  padding: 5px;
  max-width: 500px;
  margin: 50px auto;
}
.Hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: rgb(180, 60, 60);
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: auto;
  border-radius: 1000px;
  padding: 5px;
  max-width: 300px;
}
.Study {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: black;
  background-color: rgb(180, 60, 60);
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: auto;
  border-radius: 1000px;
  padding: 5px;
  max-width: 300px;
  margin: auto;
}
#MakeBigger {
  font-size: 25px;
}
